<div class="container" style="display: flex; justify-content: center">
  <video #videoElement width="640" height="480"></video>
</div>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <button class="notRec" #buttonRecord (click)="startRecording()">Start Recording</button>
</div>
<div class="container" style="display: flex; justify-content: center">
  <div *ngFor="let frame of frames">
    <img style="padding: 10px" [src]="frame" width="128" height="96" />
  </div>
</div>
